*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #111;
}
.content{
    position: relative;
    background: #222;
    padding: 40px 90px;
    border-radius: 20px;
    
}
header{
    margin-bottom: 20px ;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header h1{
    letter-spacing: 0.3em;
    color: #fff;
    margin-bottom: 30px;
    text-transform: uppercase;
}
header button{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
section{
    margin-bottom: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .num{
    margin: 10px 10px 30px 10px;
    font-size: 20px;
    color: #fff;
}
section input{
    height: 30px;
    border: none;
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #fff;
    outline: none;
    padding: 0px 10px;
    box-shadow: 0px 5px 50px rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}
footer{
    display: flex;
    justify-content: center;
}
footer button{
    height: 30px;
    width: 120px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.menu{
    position: absolute;
    top: -10px;
    right: -10px;
    background: #222;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 40px rgba(255, 255, 255, 0.5);
    cursor: pointer;
}
.menu .icon{
    position: absolute;
    font-size: 30px;
    scale: 0;
    opacity: 0;
    transition: 0.5s;
}
.menu-content{
    position: absolute;
    background: rgba(0, 0, 0, 0.95);
    z-index: 1;
    width: 320px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    scale: 0;
    opacity: 0;
    transition: 0.9s;
}
.calcul-time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nb-calcul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.max-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
span{
    font-size: 19px;
}
select{
    width: 60px;
    height: 25px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 0px 7px;
}
.activeIcon{
    scale: 1 !important;
    opacity: 1 !important;
}
.active{
    scale: 1 !important;
    opacity: 1 !important;
}
@media screen and (max-width: 490px) {
    .content{
        scale: 0.7;
    }
    .active{
        scale: 0.7 !important;
        opacity: 1 !important;
    }
    
}